body {
  background-color: lightsalmon;
}

#current {
  background-color: bisque;
  order: 1;
  size: 1;
}

#weekly {
  background-color: lightsteelblue;
  order: 2;
  size: 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

#weather {
  display: grid;
  grid-template-columns: 2fr 7fr;
}

#gif {
  max-height: 350px;
  min-height: 350px;
  max-width: 480px;
  min-width: 480px;
}

div {
  border-color: black;
  border-width: 1px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}